name: GitHub Metrics
on:
  # Schedule daily updates
  schedule:
    - cron: "0 0 * * *"
  # Allow manual trigger
  workflow_dispatch:

# Grant permissions to commit back to the repository
permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.GITHUB_TOKEN }}

          # Options
          user: amit265
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Kolkata
          plugin_isocalendar: yes
          plugin_languages: yes
          plugin_lines: yes
